.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Search input */
.p-inputtext {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.headerDetails{
  background-color: #2ecc71;
}
/* Editable cell */
.p-cell-editor {
  position: relative;
}

.p-cell-editor .ui-inputtext {
  width: 100%;
}


/* Button styles */
button {
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

.ui-button-info {
  background-color: #3498db;
  color: white;
}

.ui-button-success {
  background-color: #2ecc71;
  color: white;
}

.ui-button-danger {
  background-color: #e74c3c;
  color: white;
}
/* Input container */
.p-input-icon-left {
   position: relative;
}

.ui-button-violet {
background-color: rgb(135, 7, 135) !important;
}
/* Search icon */
.p-input-icon-left .pi {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   color: #aaa;
}

/* Search input */
.p-input-icon-left input {
   padding-left: 30px; /* Adjust according to the size of the icon */
}


/* Input container */
.p-input-icon-left {
   position: relative;
}

/* Search icon */
.p-input-icon-left .pi {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   color: #aaa;
}

.p-input-icon-left input {
   padding-left: 30px; 
}

.edit-trash-icons {
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.custom-file-upload {
position: relative;
display: inline-block;
}

.custom-file-upload label {
cursor: pointer;
padding: 8px 12px;
background-color: #196305;
color: #fff;
border-radius: 5px;
}

.custom-file-upload label:hover {
background-color: #0056b3;
}

.custom-file-upload i {
margin-right: 5px;
}

#uploadInput{
display: none;
}
.hidden-content {
display: none;
}


.calucualtion {
border: 1px solid #ccc;
padding: 10px;
margin-top: 10px;
border-radius: 5px;
text-align: center;
background-color: #f9f9f9;
color: #0056b3;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calucualtion p {
font-size: 16px;
margin: 0;
padding: 5px 0;
}


.dialog-content button{
  position: relative; 
  position: absolute;
  top: 21px;
  right: 101px;
  background-color: #2151de;
}

.options-list {
  position: absolute;
  top: 40px; /* Adjust as needed */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 9999; /* Ensure it's above other elements */
}

.options-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options-list ul li {
  cursor: pointer;
}

.options-list ul li:hover {
  background-color: #f0f0f0;
}


@media (max-width:400px) {
  .card{
     margin-top: 60px;
     width:500px;
     margin-left: 10px;
  }
  
}