<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <body>
    <app-navbar></app-navbar>
   
      
      <div class="bdy ">
        <div class="round ">
            <div class="icon">
               <div class="imgBx " style="--i:1;">
                <img src="/assets/images/kidssaree function.jfif ">
            </div>
            <div class="imgBx" style="--i:2;">
                <img src="/assets/images/childeatinf (1).jpg ">
            </div>
            <div class="imgBx" style="--i:3;">
                <img src="/assets/images/birthdaykids.jfif">
            </div>
            <div class="imgBx" style="--i:4;">
                <img src="/assets/images/marriage.jpg">
            </div>
            <div class="imgBx" style="--i:5;">
                <img src="/assets/images/pregnacy shoot.jpg">
            </div>
            <div class="imgBx" style="--i:6;">
                <img src="/assets/images/family (1).jfif">
            </div>
            <div class="imgBx" style="--i:7;">
                <img src="/assets/images/couples1.webp">
            </div>
            <div class="imgBx" style="--i:8;">
                <img src="/assets/images/babyphto.jfif">
            </div>
            </div>
           <div class="content">
            <div class="contentBx " id="content1">
                <div class="imagecard">
                    <div class="imgBx">
                        <img class="im"src="/assets/images/caaaam.jpg">
                    </div>
                    </div>
                </div>
              </div>
              
              </div> 
              </div>
      
      <!--footer starts-->
      
      <app-footer></app-footer>