<div class="plansparent1">
    <div class="plansparent">
        <div id="pricing-table">
            <div class="smaller">
                <div class="plan plan1">
                    <div class="header">Enterprise</div>
                    <div class="price">$59</div>
                    <div class="Monthly">per month</div>
                    <ul>
                        <li><b>unlimited Events</b></li>
                        <li><b> 100 Images</b></li>
                        <li><b>Maintaince</b></li>

                    </ul>
                    <a class="signup" (click)="upgradePlans(59.0, 100,'Monthly')">Up Grade</a>
                </div>

                <div class="plan plan2 popular-plan">
                    <div class="header">Professional</div>
                    <div class="price">499</div>
                    <div class="Monthly">per month</div>
                    <ul>
                        <li><b> 1000 Images</b> </li>
                        <li><b>Unlimited Events</b> </li>
                        <li><b>Maintaince</b></li>
                    </ul>
                    <a class="signup" (click)="upgradePlans(499.0, 1000,'Quarterly')">Up Grade</a>
                </div>
            </div>


        </div>

    </div>